*.pydevproject
.metadata
.gradle
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath

# sbteclipse plugin 
.target

# TeXlipse plugin
.texlipse

#NB: Should be able to import project to eclipse! Ignore the next lines.
#Also ignore .classpath and .project, as we're using ant
#.classpath
#.project

#Ignore ant build specific files
build/
dist/

#Ignore some DB files
POS/data/POSdb.lck
POS/data/POSdb.log
POS/data/POSdb.tmp/
POS/data/POSdb.properties
